seed: 42
save_dir: checkpoints/
output_checkpoint: rpl_trained.ckpt

backbone:
  checkpoint_path: checkpoints/phase1_best_segmenter.ckpt

model:
  type: residual
  use_energy_entropy: true
  loss_alpha: 1.0
  score_type: energy
  use_gaussian_blur: true

data:
  root_dir: data/
  batch_size: 16
  num_workers: 6
  img_height: 720
  img_width: 1280
  num_classes: 13
  augmentation:
    horizontal_flip: true
    color_jitter: true
    random_resized_crop: false
    scale_min: 0.8
    scale_max: 1.0
  outlier_dataset:
    type: voc
    root: data/VOC
    year: "2012"
    image_set: train
    download: false
  anomaly_injection:
    probability: 0.5
    max_anomalies_per_image: 3

optimizer:
  lr: 0.00001
  weight_decay: 0.0001
  fused: true

scheduler:
  name: null
  max_lr:  0.00001

early_stopping:
  monitor: val_aupr
  mode: max
  patience: 4
  min_delta: 0.001

trainer:
  accelerator: gpu
  devices: 1
  precision: 16-mixed
  max_epochs: 20
